<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="container mt-5">
<form >
   Username: <input type="email" class="form-control" id="email" name="email" placeholder="Email" autocomplete="on"/>
    Password: <input type="password" class="form-control" id="password" name="password" placeholder="Password" autocomplete="on"/>
    <input type="submit" onclick="clickLogin(event)" class="btn btn-primary" value="Login">
</form>
</div>

<script !src="">
   // function submit(e){
     ///   e.preventDefault();
    //    alert("Submitted");
   // }
    function clickLogin(e){
    console.log(e.path);
    console.log(e);
    var email=document.getElementById("email").value;
    var password=document.getElementById("password").value;
    alert(email+" "+password);
    e.preventDefault();
    //alert("login"+e);
    }
</script>
</body>
</html>